<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 45,
            },
            title: {
                text: 'Daily Games Played',
                x: -20 //center
            },
            xAxis: {
            type: 'datetime',
            maxZoom: 24 * 3600000, // fourteen days
            },
            yAxis: {
                title: {
                    text: '# of games'
                },
            },
            tooltip: {
                shared: true
            },
            series: [{
                name: 'Yipit',
                pointInterval: 24 * 3600 * 1000,
                pointStart: Date.UTC({{start.year}}, {{start.month}}-1, {{start.day}}),
                data: [{% for game in games_by_day %}{{game}},{% endfor %}]
            }]
        });
    });
    
});
        </script>

        <script src="/media/js/highcharts.js"></script>
    # def _group_games_by_day(self):
    #     games = Game.objects.order_by('date')
    #     self.first_date = games[0].date
    #     start_date = datetime.datetime(year=self.first_date.year, month=self.first_date.month, day=self.first_date.day)
    #     window = datetime.timedelta(days=1)
    #     games_by_day = []
    #     now = datetime.datetime.now()

    #     while start_date < datetime.datetime(year=now.year, month=now.month, day=now.day) + window:
    #         qs = Game.objects.filter(date__gte=start_date).filter(date__lt=start_date + window)
    #         games_by_day.append(qs.count())
    #         start_date += window
    #     return games_by_day