{% extends 'site_base.html' %}

{% block content %}
    <div class="row-fluid">
      <div class="span6">
        <div class="well"><h2> Games Played </h2></div>
        <ul>
        {% for game in games %}
          <li><b>{{ game.winner.handle }}</b> vs <b>{{ game.loser.handle }}</b>: {{ game.winning_score }} - {{ game.losing_score }} </li>
        {% empty %}
        <li>No games have been played yet. Go play a game!</li>
        {% endfor %}
        </ul>
      </div>
<!--      <div class="span4">
        <div class="well"><h2> Most Wins </h2></div>
        <ul>
        {% for winner in winner_list %}
          <li>{{ winner.handle }}: {{ winner.win_count }} wins</li>
        {% endfor %} 
      </ul>
      </div> -->
      <div class="span6">
        <div class="well"><h2> Ranking </h2></div>
        <ol>
        {% for player in ranked_players %}
        {% if player.games_played != 0 %}
          <li>{{ player.handle }}: {{ player.rating }} ({{player.games_played}} games)</li>
        {% endif %}
        {% empty %}
        <li>No players ranked yet</li>
        {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
