{% extends 'base.html' %}

{% block content %}
    <div class="row-fluid">
      <div class="span4">
        <div class="well"><h2> Games Played </h2></div>
        <ul>
        {% for game in games %}
          <li>{{ game.loser.handle }} vs {{ game.winner.handle }}: {{ game.losing_score }} - {{ game.winning_score }} </li>
        {% endfor %}
        </ul>
      </div>
      <div class="span4">
        <div class="well"><h2> Most Wins </h2></div>
        <ul>
        {% for winner in winner_list %}
          <li>{{ winner.handle }}: {{ winner.win_count }} wins</li>
        {% endfor %}
      </ul>
      </div>
      <div class="span4">
        <div class="well"><h2> Ranking </h2></div>
        <ul style="list-display-style: None">
        {% for player in ranked_players %}
          <li>{{ player.rank }}. {{ player.handle }}: {{ player.score }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}
