{% extends 'base.html' %}

{% block content %}
    <div class="row-fluid">
      <div class="span4">
        <div class="well"><h2> Games Played </h2></div>
        <ul>
        {% for game in games %}
          <li>{{ game.player_1 }} vs {{ game.player_2 }}: {{ game.score_1 }} - {{ game.score_2 }} </li>
        {% endfor %}
        </ul>
      </div>
      <div class="span4">
        <div class="well"><h2> Most Games </h2></div>
      </div>
      <div class="span4">
        <div class="well"><h2> Highest Win-Lose Ratio </h2></div>
      </div>
    </div>
{% endblock %}
