{% extends 'site_base.html' %}

{% block content %}
    <h3> Instructions </h3>
    <p> First, play a game. Then select the players and respective scores. Finally, submit it! </p>
    {% if message %}
    <div class="alert {{alert_class}}"> {{message}} </div>
    {% endif %}
    <div>
      <form action="." method="POST"> {% csrf_token %}
        <div style="margin-top:15px;margin-bottom:15px"><span style="margin-right:15px">{{ form.player_1 }}</span> {{form.score_1}}</div>
        <div style="margin-bottom:15px"><span style="margin-right:15px">{{ form.player_2 }}</span> {{form.score_2}}</div>
        <input type="submit" value="Add Game" class="btn btn-success"/>
      </form>
    </div>
{% endblock %}
