<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yipit Matchup</title>

    <!-- Le styles -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url dashboard %}">Yipit Matchup</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user.account.handle }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="{% url logout %}">Sign Out</a></li>
            </ul>
          </div>
          <a href="{% url add_game %}" class="pull-right btn btn-large btn-success">Add Game</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block content %}{% endblock %}

      <hr>

      <footer>
        <p>&copy; Yipit Matchup 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
  </body>
</html>