{% extends 'base.html' %}

{% block nav_bar_content %}
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> {{ user.account.handle }}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li class="divider"></li>
    <li><a href="{% url logout %}">Sign Out</a></li>
  </ul>
</div>
<a href="{% url add_game %}" class="pull-right btn btn-large btn-success">Add Game</a>
{% endblock %}