{% extends 'base.html' %}

{% block nav_bar_content %}
<div>
    <form class="navbar-form pull-right" method="POST" action="."> {% csrf_token %}
      <input type='text' name='username' placeholder='username'/> 
      <input type='password' name='password' placeholder='password'/>
      <input class='btn btn-success' type='submit' value='Login'/ >
    </form>
</div>
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1 style="margin-bottom:15px">Yipit Matchup!</h1>
  <p>A nice way to keep track of the ping pong matches of Team Yipit and current rankings.</p>
</div>

<div class="row">
  <div class="span4">
    <h2>Add your games</h2>
     <p>Add the records of games you've played - only one record per game. </p>
  </div>
  <div class="span4">
    <h2>See updated rankings</h2>
     <p>Yipit Matchup's ranking engine will compute internal rankings of Team Yipit after each new game.</p>
 </div>
  <div class="span4">
    <h2>Track your progress</h2>
    <p>Yipit Matchup's data visualization will allow you to see the progress you've made.</p>
  </div>
</div>
{% endblock %}